<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/alexkhesin/AutoPing/refs/heads/main/releases/appcast.xml</string>
	<key>SUEnableInstallerLauncherService</key>
	<string>YES</string>
	<key>SUPublicEDKey</key>
	<string>IHNLenwncSlrbywVtovsXgBmk0uRIVMVuoOY3PmkjeE=</string>
</dict>
</plist>
